fastapi
uvicorn
sentence-transformers
faiss-cpu
rank_bm25
sqlite-utils
pydantic
numpy
pandas
beautifulsoup4
requests
airllm
transformers
accelerate
bitsandbytes
huggingface-hub
accelerate
sentencepiece
safetensors
